body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 40vw;
    height: 80vh;
    background-color: #F2F0EF;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 8px black;
}

#todo-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#newtodo {
    width: 80%;
    height: 25px;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}

#newtodo:focus {
    outline: none;
    border: none;
}

#add-btn {
    height: 35px;
    padding: 5px;
    font-size: 18px;
    width: 15%;
    background-color: #2892D7;
    border-radius: 5px;
    border: none;
}

#add-btn:hover {
    cursor: pointer;
    background-color: #2687C7;
}

.todos {
    margin-top: 20px;
    height: 80%;
    overflow-y: auto;
    scrollbar-width: none;
    margin-bottom: 20px;
}

.todo {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    height: 50px;
    align-items: center;
}

.cb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #2687C7;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: darkblue;
    background-color: transparent;
}

.todo-title {
    flex: 1;
    overflow-x: auto;
    scrollbar-width: none;
    font-size: 20px;
}

.dlt-btn {
    margin-left: auto;
    margin-right: 10px;
    border: none;
    height: 30px;
    width: 30px;
    background-color: transparent;
    font-size: 20px;
}
.dlt-btn:hover {
    cursor: pointer;
    font-size: 25px;
}