body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 40vw;
    height: 80vh;
    background-color: #F2F0EF;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 8px black;
    display: flex;
    flex-direction: column;
}

#todo-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#newtodo {
    width: 80%;
    height: 25px;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}

#newtodo:focus {
    outline: none;
    border: none;
}

#add-btn {
    height: 35px;
    padding: 5px;
    font-size: 18px;
    width: 15%;
    background-color: #2892D7;
    border-radius: 5px;
    border: none;
}

#add-btn:hover {
    cursor: pointer;
    background-color: #2687C7;
}

.todos {
    flex: 1;
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-width: none;
}

.todo {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    height: 50px;
    align-items: center;
}

.todo:hover {
  background-color: #fafafa;
}

.cb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #2687C7;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: darkblue;
    background-color: transparent;
    aspect-ratio: 1 / 1;
}

.todo-form {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.todo-title {
    flex: 1;
    overflow-x: auto;
    scrollbar-width: none;
    font-size: 20px;
    background-color: transparent;
    border: none;
}

.todo-title:focus {
    border: none;
    outline: none;
}

.right-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
}

.dlt-btn {
    margin-right: 10px;
    border: none;
    height: 30px;
    width: 30px;
    background-color: transparent;
    font-size: 20px;
}
.dlt-btn:hover {
    cursor: pointer;
    font-size: 25px;
}

.edit-btn {
    margin-right: 10px;
    border: none;
    height: 30px;
    width: 30px;
    background-color: transparent;
    font-size: 15px;
}

.edit-btn:hover {
    cursor: pointer;
    font-size: 20px;
}

.tick-btn {
    display: none;
    margin-right: 10px;
    border: none;
    height: 30px;
    width: 30px;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
}

.tick-btn:hover {
    cursor: pointer;
    font-size: 25px;
}

.footer {
  text-align: center;
  font-size: 15px;
  color: #555;
  margin: 10px;
}

/* Mobile Responsiveness*/

@media (max-width: 1500px) {
  .container {
    width: 60vw;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 80vw;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100vw;
    height: 100vh;
  }
}
